{% load pages_tags i18n %}

{% spaceless %}
<ul id="primary-menu" class="nav navbar-nav ml-auto">
    {% for page in page_branch %}
    {% if not has_home and page.is_primary and forloop.first %}
    <li id="primary-menu-home" class="first{% if on_home %} active{% endif %} nav-item">
        <a href="{% url "home" %}" class="nav-link">{% trans "Home" %}</a>
    </li>
    {% endif %}
    {% if page.in_menu %}
    <li id="primary-menu-{{ page.html_id }}"
        class="{% if page.is_current_or_ascendant %}active{% endif %}{% if forloop.last %} last{% endif %} nav-item">
        <a href="{{ page.get_absolute_url }}" class="nav-link">{{ page.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
    <li id="primary-menu-home" class="nav-item"><a class="nav-link" href="https://micheladaboys.bigcartel.com/" target="_blank">Shop</a></li>
    <li class="divider-vertical"></li>
</ul>
{% endspaceless %}
